  
  
header {
	max-width:100% ;
	height: auto;
	align-items: center;
}

.col {
	background-image: linear-gradient(#FFFF25, #F57200, #C24747);
	max-width: 100%;
	height: auto;
	font-family: Comic Sans MS;
	color: navy;
	background-color: ;
}
.nav-item {
	font-family: Comic Sans MS;
	color: navy;
	font-size: 2.0em;
}

.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 50%;
}
.col-8 > .img-fluid
{
	flex-wrap: all;
	
	width: 100%;
}
.card-body {
	font-family: Comic Sans MS;
	color: #c24747;
}
footer {
	background-color: #c24747;
	max-width: 100%;
	color: navy;
}
footer>p {
	text-align: right;
	font-size: 2.0em;
	font-family: Comic Sans MS;
}
footer>h6 {
	font-size: .5em;
	text-align: center;


}
